apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: gh-tekton-quay-go-ujyfrrtk
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/gh-tekton-quay-go-ujyfrrtk:28abff0d99f92d6db9752a155260882ca52767b7@sha256:c9e2f8f2812e9920c4e32d13da95ff66492d4a09d3f3b5ea6a779b7ebc08f48d
          name: container-image
